<launch>
  <arg name="mesobot_namespace" default="project11/mesobot"/>
  <arg name="host_namespace"/>
  <arg name="usbl_address" default="2509"/>
  <arg name="usbl_backup_address" default="2712"/>
  <arg name="platform_name" default="mesobot"/>


  <group ns="$(arg mesobot_namespace)">
    <node pkg="mesobot_project11" type="mesobot_node.py" name="mesobot">
      <remap from="sms" to="/$(arg host_namespace)/usbl_modem/received_sms"/>
      <remap from="position" to="/$(arg host_namespace)/usbl_ranger/positions/$(arg usbl_address)"/>
      <remap from="backup_position" to="/$(arg host_namespace)/usbl_ranger/positions/$(arg usbl_backup_address)"/>
    </node>

    <node pkg="mesobot_project11" type="ctd.py" name="ctd">
      <remap from="raw" to="/$(arg host_namespace)/usbl_modem/raw"/>
      <remap from="send_sms" to="/$(arg host_namespace)/usbl_modem/send_sms"/>
    </node>

    <rosparam file="$(find mesobot_project11)/config/platform.yaml" command="load" ns="project11/platforms/$(arg platform_name)"/>

    <rosparam param="project11/platforms/$(arg platform_name)/" subst_value="True">{robot_description: $(arg mesobot_namespace)/robot_description, namespace: $(arg mesobot_namespace)}</rosparam>
    <rosparam param="project11/platforms/$(arg platform_name)/nav_sources/usbl" subst_value="True">{position_topic: /$(arg mesobot_namespace)/nav/position}</rosparam>

    <node pkg="project11" type="platform_send.py" name="platform_sender"/>
  </group>

</launch>
